{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block style %}
    <link href="{% static 'signup.css' %}" rel="stylesheet">
    <style>
    .text-align-center {
        text-align:center;
    }
    </style>

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p class="lead text-align-center"><strong>OneDaySchool</strong></p>
            <h1 class="text-align-center">원데이스쿨 개인정보취급방침</h1>
            <h3 class="text-align-center">(발효일 : 2016년 4월 8일)</h3>
            <div class="jumbotron">
            <p>
            <strong><샤르파>('www.snu1dayschool.net'이하 '회사')</strong>는 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
            "회사"는 "회사"는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
            </p>
            <h2>1. 개인정보의 처리 목적</h2>
            <p>
            "회사"는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.
            1) "회사"는 홈페이지에서 회원님의 가입 시 물품 및 서비스 제공과 물품 배송, 대금 결제 및 회원님들께 편리하고 유익한 맞춤 정보를 제공하기 위해 필요한 최소한의 정보를 필수 사항으로 수집하고 있습니다.
            2) "회사"는 인종 및 민족, 사상 및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 등의 회원님의 기본적 인권을 현저하게 침해할 우려가 있는 개인정보를 수집하지 않습니다.
            3) "회사"는 회원님들의 개인정보를 다음과 같이 수집합니다.
            가. 개인회원
             필수 정보 : 이름, 이메일 주소, 비밀번호
             선택 정보 : 본인인증에 따른 CI/DI, 유선전화번호, 휴대폰번호, 주소, 신용카드 번호, 생년월일, 성별, 이통사 정보
            나. 법인회원
             필수 정보 : 법인명, 담당자 이메일 주소, 담당자 이름, 비밀번호
             선택 정보 : 사업자 등록번호, 업체유형, 업종 및 업태, 대표자명, 사업장 주소, 유선전화번호, 담당자 휴대폰 번호, 기념일
            4) 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
            기타 정보 : IP Address, 쿠키, 방문 일시, OS종류, 브라우져 종류 서비스 이용 기록, 불량 이용 기록, 결제 정보
            5) 유료 서비스 이용 과정에서 아래와 같은 정보들이 수집될 수 있습니다.
            신용카드 결제 시 : 카드사명, 카드번호 등
             계좌이체 시 : 은행명, 계좌번호 등
             계좌이체 환불 시 : 환불계좌정보(은행명, 계좌번호, 예금주명)
            6) 수집한 개인정보는 다음과 같은 목적으로 사용됩니다.
            가. 성명, 핸드폰번호, 본인인증에 따른 CI/DI : 서비스 제공 및 개인 식별
            나. 결제정보 : 서비스 구매 및 요금 결제, 관련 법령에 의한 기록 보존
            다. 이메일 주소, 핸드폰 번호, 주소 : 서비스 제공을 위한 연락 및 안내, 상품과 경품 배송, 이벤트 등 광고성 정보 전달, 마케팅을 위한 통계 자료, 민원 처리, 신규 서비스 안내 등
            라. 계좌번호 : 환불
            마. 신용카드 번호 : 상품 구매 시 결제 수행
            7) "회사"는 홈페이지의 회원가입, 개인정보 수정 및 1:1 게시판, 문의 게시판 그리고, 고객센터를 통한 상담, 전화, 이메일 등을 통하여 개인정보를 수집합니다.
            </p>
            <h2>2. 개인정보의 처리 및 보유 기간</h2>
            <p>
            1) "회사"는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 개인정보를 지체 없이 파기합니다. 단, 내부방침 및 관계법령의 규정에 의하여 보존할 필요가 있는 경우에는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의 받은 개인정보 보유, 이용기간 내에서 개인정보를 처리, 보유합니다.
            2) 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
            가. 계약 또는 청약철회 등에 관한 기록
             보존 근거: 전자상거래 등에서의 소비자보호에 관한 법률
             보존 기간: 5년
            나. 대금결제 및 재화 등의 공급에 관한 기록
             보존 근거: 전자상거래 등에서의 소비자보호에 관한 법률
             보존 기간: 5년
            다. 소비자의 불만 또는 분쟁처리에 관한 기록
             보존 근거: 전자상거래등에서의 소비자보호에 관한 법률
             보존 기간: 3년
            라. 본인확인에 관한 기록
             보존 근거: 정보통신망 이용촉진 및 정보보호 등에 관한 법률
             보존 기간 : 6개월
            마. 웹사이트 방문기록
             보존 근거: 통신비밀보호법
             보존 기간: 3개월

            3) 기타 회원님의 개별적인 동의가 있는 경우에는 개별 동의에 따른 기간까지 보관합니다.
            </p>
            <h2>3. 개인정보 제3자 제공에 관한 사항</h2>
            <p>
            1) "회사"는 인터넷서비스화면을 통하여 공개된 정보를 제외하고는 이용자의 개인정보를 "회사"가 제공하는 서비스 외의 용도로 사용하거나 이용자의 동의 없이 제3자에게 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
            가. 이용자가 사전에 동의한 경우
            나. 금융실명거래 및 비밀보장에 관한 법률, 신용정보의 이용 및 보호에 관한 법률, 전기통신기본법, 전기통신사업법, 지방세법, 소비자보호법, 한국은행법, 형사소송법 등 법령에 특별한 규정이 있는 경우
            다. 서비스제공에 따른 요금정산을 위하여 필요한 경우
            라. 통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정개인을 식별할 수 없는 형태로 제공하는 경우.
            2) "회사"는 이용자에게 보다 더 나은 서비스를 제공하기 위하여 개인정보를 제휴사에 제공하거나 제휴사 등과 공유할 수 있습니다. 개인정보를 제공하거나 공유할 경우에는 사전에 이용자께 제휴사 등이 누구인지, 제공 또는 공유되는 개인정보항목이 무엇인지, 왜 그러한 개인정보가 제공되거나 공유되어야 하는지, 언제까지 어떻게 보호, 관리되는지에 대해 개별적으로 고지하여 동의를 구하는 절차를 거치게 되며, 이용자께서 동의하지 않은 경우에는 제휴사 등에게 제공하거나 제휴사 등과 공유하지 않습니다. 또한 이용자가 일단 개인정보의 제공에 동의하더라도 언제든지 그 동의를 철회할 수 있습니다.
            </p>
            <h2>4. 개인정보처리 위탁</h2>
            <p>
            1) "회사"는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.
            수탁자
            위탁업무
            아이핀(I-PIN) 인증
            2) "회사"는 위탁계약 체결 시 개인정보 보호법 제25조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.
            3) 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체 없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.
            </p>
            <h2>5. 정보주체의 권리, 의무 및 그 행사방법</h2>
            <p>
            이용자는 개인정보주체로서 다음과 같은 권리를 행사할 수 있습니다.
            1) 정보주체는 "회사"에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
            가. 개인정보 열람요구
            나. 오류 등이 있을 경우 정정 요구
            다. 삭제요구
            라. 처리정지 요구
            2) 제1항에 따른 권리 행사는 "회사"에 대해 개인정보 보호법 시행규칙 별지 제8호 서식에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 "회사"는 이에 대해 지체 없이 조치하겠습니다.
            3) 정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 "회사"는 정정 또는 삭제를 완료할 때까지 당해 개인정보를 이용하거나 제공하지 않습니다.
            4) 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
            </p>
            <h2>6. 회원의 의무</h2>
            <p>
            1) 회원님은 자신의 개인정보를 보호할 의무가 있으며, 회원님 본인의 부주의나 인터넷 상의 문제 등으로 개인정보가 유출되어 발생한 문제에 대하여 "회사"는 일체의 책임을 지지 않습니다.
            2) 회원님의 개인정보를 최신의 상태로 정확하게 입력하시기 바랍니다. 회원님의 부정확한 정보입력으로 발생하는 문제의 책임은 회원님 자신에게 있으며, 타인의 개인정보를 도용하여 회원가입 또는 서비스 이용 시 회원자격 상실과 함께 개인정보에 관한 법률에 의거하여 처벌될 수 있습니다.
            3) 회원님은 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 아이디, 비밀번호를 포함한 회원님의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오.
            4) 『정보통신망 이용촉진 및 정보보호등에 관한 법률』, 『개인정보보호법』 등 기타 개인정보에 관한 법률을 준수하여야 합니다.
            </p>
            <h2>7. 링크사이트</h2>
            <p>
            "회사"는 회원님께 다른 "회사"의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 이 경우 "회사"는 외부웹사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. "회사"가 포함하고 있는 링크를 통하여 타 웹사이트의 페이지로 옮겨갈 경우 해당 웹사이트의 개인정보취급방침은 "회사"와 무관하므로 새로 방문한 웹사이트의 정책을 검토해 보시기 바랍니다.
            </p>
            <h2>8. 개인정보 자동수집 장치(쿠키 등)의 설치, 운영 및 그 거부에 관한 사항</h2>
            <p>
            1) 회사는 회원님들에게 보다 적절하고 유용한 서비스를 제공하기 위하여 회원님의 정보를 수시로 저장하고 불러오는 ‘쿠키(cookie)’를 사용합니다. 쿠키란 회사의 웹사이트를 운영하는데 이용되는 서버가 회원님의 컴퓨터로 전송하는 아주 작은 텍스트 파일로서 회원님의 컴퓨터 하드디스크에 저장됩니다. 회원님께서는 쿠키의 사용여부에 대하여 선택하실 수 있습니다.
            2) 쿠키 설정 거부 방법
            가. 회원님은 사용하시는 웹 브라우저의 옵션을 설정함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다. 단, 쿠키의 저장을 거부할 경우 로그인이 필요한 일부 서비스의 이용에 제한이 생길 수 있음을 양지하시기 바랍니다.
            나. 쿠키 설치 허용 여부를 지정하는 방법(Internet Explorer의 경우)
            [도구] 메뉴에서[인터넷 옵션]을 선택
            [개인정보]를 클릭
            [고급]을 클릭
            쿠키 허용여부를 선택
            </p>
            <h2>9. 개인정보의 파기</h2>
            <p>
            "회사"는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체 없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
            1) 파기절차
             이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.
            2) 파기기한
             이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.
            3) 파기방법
             전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.
            종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.
            </p>
            <h2>10. 개인정보의 안전성 확보 조치</h2>
            <p>
             "회사"는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
            1) 개인정보 취급 직원의 최소화 및 교육
             개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.
            2) 정기적인 자체 감사 실시
             개인정보 취급 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
            3) 개인정보의 암호화
             이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.
            4) 해킹 등에 대비한 기술적 대책
            "회사"는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신·점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
            5) 개인정보에 대한 접근 제한
             개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여,변경,말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
            6) 문서보안을 위한 잠금장치 사용
             개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
            7) 비인가자에 대한 출입 통제
             개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.
             </p>
            <h2>11. 개인정보 보호책임자 작성</h2>
            <p>
            1) "회사"는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
            ▶ 개인정보 보호책임자
            성명 : 여호용
            직책/직급 : 대표
            연락처 : 010-9808-3738 (※ 개인정보 보호 담당부서로 연결됩니다.)
            ▶ 개인정보 보호 담당부서
             부서명 : 샤르파 고객센터
             연락처 : 010-9808-3738

            2) 정보주체께서는 "회사"의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. "회사"는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.

            기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다
            </p>
            <h5>1. 개인분쟁조정위원회(http://www.kopico.or.kr)</h5>
            <h5>2. 정보보호마크인증위원회(www.eprivacy.or.kr/ 02-580-0533~4)</h5>
            <h5>3. 대검찰청 인터넷범죄수사센터(icic.sppo.go.kr/02-3480-3600)</h5>
            <h5>4. 경찰청 사이버테러대응센터(www.ctrc.go.kr/02-392-0330)</h5>

             <h2>12. 개인정보 처리방침 변경</h2>
             <p>
             이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.
            - 최근 개정일 : 2016년 04월 08일(시행일 2014년 04월 08일)
            </p>
            </div>
        </div>
    </div>
</div>


{% endblock %}