{% extends 'mentoring/base.html' %}
{% load staticfiles %}


{% block style %}
    <link href="{% static 'signup_choice.css' %}" rel="stylesheet">

{% endblock %}


{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Features -->
        <div class="row text-center">
            <div class="col-md-8 col-sm-6 col-md-offset-2">
                <!-- Jumbotron Header -->
                <header class="jumbotron text-center">
                    <h1>당신을 위한 멘토링</h1>
                    <p>원데이스쿨이 도와드리겠습니다. 환영합니다 :)</p>
                    </p>
                </header>
            </div>

            <div class="col-md-4 col-sm-6 col-md-offset-2 hero-feature">
                <div class="thumbnail">
                    <div class="caption">
                        <a href = "{% url 'mentor_signup' %}"><h3>멘토회원 등록하기</h3></a>
                    </div>
                    <a href = "{% url 'mentor_signup' %}"><img src="http://placehold.it/800x500" alt=""></a>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 hero-feature">
                <div class="thumbnail">
                <div class="caption">
                        <a href = "{% url 'mentee_signup' %}"><h3>멘티회원 등록하기</h3></a>
                    </div>
                    <a href = "{% url 'mentee_signup' %}"><img src="http://placehold.it/800x500" alt=""></a>

                </div>
            </div>
        </div>
        <!-- /.row -->


    </div>
    <!-- /.container -->

{% endblock %}
