{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <a href="{% url 'faq_list' %}">
            <div class="well well-sm" >
            FAQ
            </div>
            </a>
            <div style='height:200px;'>
            {% for faq in faq_list %}
                <a href="{% url 'faq_detail' faq.pk %}">
                <div class="col-sm-2" >
                    {{faq.pk}}
                </div>
                <div class="col-sm-10">
                    {{faq.question_title}}
                </div>
                </a>
            {% endfor %}
            </div>
            <div>
            </div>
            <a href="{% url 'question_list' %}">
            <div class="well well-sm">
            Q&A
            </div>
            </a>
            {% for question in question_list %}
                <a href="{% url 'question_detail' question.pk %}">
                <div class="col-sm-2">
                    {{question.author}}
                </div>
                <div class="col-sm-10">
                    {{question.title}}
                </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-4">

            <div class="well well-sm">
            찾아오시는 길
            </div>
            <div id="map" style="width:100%; min-height:300px;">
            </div>
            <br />

            <!-- 추천 스토어-->
            <div class="well well-sm">
            추천 멘토링
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />


        </div>
    </div>
</div>
{% endblock %}