{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OneDaySchool</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.6/css/bootstrap.min.css' %}" />

    <!-- Custom CSS -->

    <style>
      .modal .modal-header, .modal h4, .modal .close {
          background-color: #5cb85c;
          color:white !important;
          text-align: center;
          font-size: 30px;
      }
      .modal .modal-footer {
          background-color: #f9f9f9;
      }
      .modal-content-gray {
        background-color: #eee;

      .search-modal .modal-body {
        padding: 10px;
        text-align: center;
      }
      .modal-body .btn-sm {
        padding: 5px 8px;
        margin: 2px;
      }

      footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color : #cce6ff;
      }
      .navbar {
          background-color: red;
          height: 30%;
      }
      #loginBtn {
          font-size: 30;
      }
  </style>


{% block style %}
{% endblock %}

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


<script src="{% static 'jquery-1.12.0.js' %}"></script>

<script>
$(document).ready(function(){
    $("#loginBtn").click(function(){
        $("#loginModal").modal();
    });
});

</script>



{% block headjs %}
{% endblock %}

</head>

<body>
    <div id='header'>
         <!-- Navigation -->
      <div class="navbar">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">

                  {% if user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user }} <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              {% if user.profile.is_mentor %}
                              <li>
                                  <a href="{% url 'profile' %}">마이페이지</a>
                              </li>
                              <li>
                                  <a href="{% url 'logout' %}?next=/">로그아웃</a>
                              </li>
                              {% else %}
                              <li>
                                  <a href="{% url 'profile' %}">마이페이지</a>
                              </li>
                              <li>
                                  <a href="{% url 'logout' %}?next=/">로그아웃</a>
                              </li>
                              {% endif %}
                          </ul>
                      </li>
                  </ul>
                  {% else %}
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                           <a href="#" id="loginBtn">로그인</a>
                      </li>
                      <li>
                          <a href="{% url 'signup_choice' %}">회원가입</a>
                      </li>
                  </ul>
                  {% endif %}
                  <div>
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  </div>
                  <div>
                  <h1 style="text-align: center; padding-top: 50px"><a href="/"><img src='{% static 'img/nav_logo.jpg' %}' style="width: 300px; height: 150px;"/></a></h1>
                  </div>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
          <hr/>
      <h3 style="text-align: center;"><a href="#">Intro</a><a href="#">Mentoring</a> <a href="#">Q&A</h3>
      <div style="text-align: center;">
        <div class="pill" style="display: inline-block; padding: 20px; font-size: 19px;">Intro</div>
        <div class="pill" style="display: inline-block;">Mentoring</div>
        <div class="pill" style="display: inline-block;">Q&A</div>
      </div>
      <hr/
      {% include 'mentoring/loginModal.html' %}
    </div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <li class="alert alert-{{message.tags}}">
                {{ message }}
            </li>
        {% endfor %}
    </div>
    {% endif %}


{% block content %}
{% endblock %}


<footer class="text-center">
  <a class="up-arrow" href="/" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Copyright &copy; OneDaySchool   서비스소개  이용약관   개인정보취급방침   고객센터</p>
                <p>사업자등록번호 : 000-0000-0000 통신판매업신고번호 : 2016-555-5555 주소 : 서울대학교 관정관 파리바게트</p>
</footer>


<script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>


{% block script %}
{% endblock %}

{% block js %}
{% endblock %}

</body>

</html>
