{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}



{% block headjs %}
<script src="{% static 'jquery-1.12.0.js' %}"></script>
<script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>




<!-- 로그인 버튼 누르면 로그인 Modal이 뜨는 jquery -->
<script>
$(document).ready(function(){
    $("#loginBtn").click(function(){
        $("#loginModal").modal();
    });
});
</script>
<!-- 스크롤이 비디오 넘어가면 비디오 pause시키는 jquery -->
<script>
    $(window).scroll(function(){
        if ($(window).scrollTop() > (10+$('#video1').height()+$('#top_nav').height()+$('#logo_div').height()))
                {$('#video1')[0].pause();}

        else    {$('#video1')[0].play();}
});
</script>




{% endblock %}




{% block style %}
<style>


    #Intropage {
      padding: 0 0 0 0;
      width : 100%;

    }

    #Intropage div {
      min-height : 100px;
      width: 100%;
    }
    #video-wrap {
      position: relative;
      width: 100%;
      z-index: 999;
    }
    .main-play-shade {
    background: #fff url(/static/img/ajax-loader.gif) no-repeat center center;
    }
    #video1 {
    position: relative;
    object-fit: fill;
    z-index: 999;
    }
    .crop {
      overflow: hidden;
    }
    .crop video {
      margin: -10px 0px -10px 0px;
    }

</style>
{% endblock %}

{% block content %}



<div class="container-fluid" id="Intropage">

  <!--<img src='{% static 'img/SNU_background.png' %}' style="position:fixed; ;z-index:-5;width:100%; height: 300px; margin-top:0%;opacity: 0.9;"/>-->
    <div id="content_1" style="background-color: white;margin-bottom: 0%; ">
      <div id="video-wrap" style="width:100%; padding-bottom:5%;">
        <div class="main-play-shade" style="z-index: 999;width: 100%;position: absolute;top: 0px;left: 0px;display: none;"></div>
        <p class="crop"><video id="video1"class="video" src="{% static 'img/sharpa2.mp4' %}" style="width:102%; overflow: hidden; margin-left: -5px;  " autoplay loop="loop" controls></video></p>
      </div>
    </div>




<!-- Container (회사 소개 section)-->
    <div id="content_2" class="container text-center" style="margin-top:0px;background-color: white; padding-top: 0px;padding-bottom: 0px;">

      <br><hr>

          <h1 style="text-align: center"><img src='{% static 'img/team_info.png' %}' style="width:100%;" /></h1>
          <br><br>


    </div>

    <div id="content_3" class="container text-center" style="background-color: white;">

    <h1 style="text-align: center"><img src='{% static 'img/team_member.png' %}' style="width:100%;" /></h1>
    </div>







</div>




{% endblock %}


