{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}



{% block headjs %}

<script src="{% static 'jquery-1.12.0.js' %}"></script>



<!-- 로그인 버튼 누르면 로그인 Modal이 뜨는 jquery -->
<script>
$(document).ready(function(){
    $("#loginBtn").click(function(){
        $("#loginModal").modal();
    });
});
</script>
<!-- 스크롤이 비디오 넘어가면 비디오 pause시키는 jquery -->
<script>
    $(window).scroll(function(){
        if ($(window).scrollTop() > (10+$('#video1').height()+$('#top_nav').height()+$('#logo_div').height()))
                {$('#video1')[0].pause();}

        else    {$('#video1')[0].play();}
});
</script>




{% endblock %}




{% block style %}
<style>


    #Intropage {
      padding: 0 0 0 0;
      width : 100%;

    }

    #Intropage div {
      min-height : 100px;
      width: 100%;
    }
    #video-wrap {
      position: relative;
      width: 100%;
      z-index: 999;
    }
    .main-play-shade {
    background: #fff url(/static/img/ajax-loader.gif) no-repeat center center;
    }
    #video1 {
    position: relative;
    object-fit: fill;
    z-index: 999;
    }
    .crop {
      overflow: hidden;
    }
    .crop video {
      margin: -10px 0px -10px 0px;
    }

</style>
{% endblock %}

{% block content %}

<div class="container-fluid" id="Intropage">

    <div id="content_1">
      <div id="video-wrap" style="width:100%;height:100%; margin-bottom:0px;">
        <div class="main-play-shade" style="z-index: 999;width: 100%;height: 658px;position: absolute;top: 0px;left: 0px;display: none;"></div>
        <p class="crop"><video id="video1"class="video" src="{% static 'img/sharpa2.mp4' %}" style="width:102%; height: 700px;max-height: 800px; overflow: hidden; margin-left: -5px;  " autoplay loop="loop" controls></video></p>
      </div>
    </div>



<!-- Container (회사 소개 section) -->
    <div id="content_2" class="container text-center" style="margin-top:40%;background-color: none; padding-top: 0px;padding-bottom: 0px;">
      <br><hr>
      <div style="background-color: none;">

          <hr style="background-color: black;margin : 20px 10% 20px 10%;padding: 5 0 0 5;">
            <h1 style="margin: 0 0 0 0;">회사 소개 </h1>
          <hr style="background-color: black;margin : 20px 10% 0 10%;padding: 5 0 0 5;">

      </div>
      <div style="background-color: white; padding-top: 20px;">

      <h3 style="margin: 5% 0 0 0;"><em><strong style="color : #006bb3;">Vision & Mission</strong></em></h3>
      <p style="font-size: 35px; margin : 5% 0 15% 0;"><br><strong><b>Better Education, Better Society</b></strong><br>공감을 통한 더 나은 변화
      </p><hr style="background-color: black;margin : 20px 10% 0 10%;padding: 5 0 0 5;">

        <h3 style="margin : 8% 0 8% 0"><em><strong style="color : #006bb3;">약&nbsp;&nbsp;&nbsp;&nbsp;력</strong></em></h3>

          <p style="position: relative; font-size : 21px;line-height: 150%; margin: 0 15% 10% 15%;"><strong><b>샤르파</b></strong>는 우리나라의 교육문제에 대해 고민하는 서울대학교 학생들이 모여 만든 교육 스타트업입니다. <strong><b>서울대 원데이 스쿨</b></strong>은 <strong><b>샤르파</b></strong>를 대표하는 프로그램으로서, 2015년 9월부터 지금까지 수많은 청소년들의 학업 고민을 해결해주고 있습니다. <strong><b>서울대학교 벤처경영 기업가센터</b></strong>, <strong><b>SK 청년비상</b></strong>에서 그 성과를 인정하여 공식적으로 <strong><b>샤르파</b></strong>를 지원 해주고 있으며, 서울대학교 벤처경영학과 교수님들의 자문을 받으며 사업을 진행하고 있습니다.
          </p><br><br>
      </div>

    </div>

    <div id="content_3" class="container text-center">
    <br><hr><br>
    <hr style="background-color: black;margin : 20px 10% 20px 10%;padding: 5 0 0 5;"><h1><b>팀 소개</b></h1>
    <hr style="background-color: black;margin : 20px 10% 20px 10%;padding: 5 0 0 5;">
    <h1 style="text-align: center"><img src='{% static 'img/team_member.png' %}' style="width:100%;" /></h1>
    </div>

    <div id="content_4" class="container text-center" style="background-color: ;">
    <br><hr><br>
    <hr style="background-color: black;margin : 20px 30% 20px 30%;padding: 5 0 0 5;"><h2>후원</h2>
    <hr style="background-color: black;margin : 20px 30% 20px 30%;padding: 5 0 0 5;"><br>
    <h1><img src='{% static 'img/SNU_SK_img.png' %}' style="position:inline-block; width: 100%;" /></h1>
<br><br><br>
    </div>






</div>




{% endblock %}


