{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mentoring_form.css' %}" />
    <style type="text/css">
    .radio {
        display: inline-block;
        border-radius: 3px;
        margin: 10px 1px;
        border: 1px solid #aaa;
    }
    .radio:hover, .radio:focus, .radio:active {
        background-color: #aaa;
    }
    .radio label {
        padding:5px;
    }
    </style>
{% endblock %}


{% block content %}

{% if user.profile.is_mentor %}
<div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="jumbotron" style="background-color: transparent;">
        <h3><strong>멘토링 신청은 멘티만 할 수 있습니다.</strong></h3>
        <div style="height: 50px;">
        </div>
        <a href="/" style="text-decoration: none;"><h4><strong>홈페이지로 돌아가기</strong></h4></a>
        </div>
    </div>

    <div class="col-sm-6 col-sm-offset-3">

    </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2><strong>멘토링 신청하기</strong></h2>
    </div>

    <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form mentoringform %}
            <hr />
            {% buttons %}
                <h1 style="text-align:center;"><button type="submit" class="btn btn-primary">{% bootstrap_icon "ok-sign" %} 신청하기</button></h1>
            {% endbuttons %}
        </form>
    </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('input:checked').parent().css('background-color', '#aaa');

    function selectedRadioColor(radioInput){
        $(radioInput).on('change', function() {
        $(radioInput).parent().css('background-color', 'white');
        $(this).parent().css('background-color', '#aaa');
        });
    };

    selectedRadioColor('#id_will_to_study input');



});
</script>
{% endblock %}