{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block style %}
    <link rel="stylesheet" href="{% static 'mentoring_detail.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <!-- Page Heading -->
    <div class="row">

        <!--업체 정보 content-->
        <div class="col-md-12" style="text-align: center;">
            <div class="well well-sm">
            멘토링 정보
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>이름</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.name}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>지역/학교</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.area_highschool}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>학년</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.grade}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>멘티 전화번호</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.phone_mentee}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>보호자 전화번호</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.phone_keeper}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>희망날짜</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.date}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>장래희망</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.wannabe}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>희망대학</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.university}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>성적수준</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.rating}}</h5>
                    </div>
                </div><div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>공부의욕</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.will_to_study}}</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>관심전공1</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.major1}}</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>관심전공2</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.major2}}</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>관심전공3</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.major3}}</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>평소 궁금했던 질문</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.questions}}</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-sm-3">
                        <h5>멘토에게 바라는 점</h5>
                    </div>
                    <div class="col-sm-9">
                        <h5>{{mentoring.requirements}}</h5>
                    </div>
                </div>
            </div>
            {% if user.profile.is_mentor %}
            {% else %}
                {% if mentoring.acceptor %}
                <h2>성립된 멘토링입니다.</h2>
                {% else %}
                <h2>멘토 분을 구하고 있습니다.</h2>
                {% endif %}
            {% endif %}
            <hr/>

            {% if user.profile.is_mentor %}
            <div class="col-md-12" style="text-align: center;">
                <div class="well well-sm">
                멘토링 계획서
                </div>
                <h1>멘토 : {{plan.mentor.profile.name}}</h1>
                <h1>학과소개</h1>
                <div class="jumbotron">
                <h4>{{plan.major_intro}}<h4>
                </div>
                <h1>시간 관리법</h1>
                <div class="jumbotron">
                <h4>{{plan.time_manage}}</h4>
                </div>
                <h1>내신 관리법</h1>
                <div class="jumbotron">
                <h4>{{plan.grade_manage}}</h4>
                </div>
                <h1>과목 별 공부법</h1>
                <div class="jumbotron">
                <h4>{{plan.subject_study}}</h4>
                </div>
                <h1>나만의 공부법</h1>
                <div class="jumbotron">
                <h4>{{plan.know_how}}</h4>
                </div>
                <h1>해주고 싶은 말</h1>
                <div class="jumbotron">
                <h4>{{plan.delivering_message}}</h4>
                </div>
            </div>
            {% endif %}
            <!-- <a class="btn=primary" href="{% url 'plan_new' mentoring.pk %}">멘토링 계획하기</a>
            <hr/> -->
            <!-- {% for apply in mentoring.apply_set.all %}
                <h6>{{apply.content}}   <button class='btn btn-primary'><a href="{% url 'mentoring_authenticate' mentoring.pk apply.pk %}">수락하기</a></button></h6>


            {% endfor %}
            <form action="{% url 'apply_new' mentoring.pk %}" method="post">
                        {% csrf_token %}
                        {{ apply_form }}
                        <input type="submit" value="멘토링 지원하기" class="btn btn-block btn-primary"/>
                   </form> -->

        </div>


        <!-- Blog Sidebar Widgets Column -->



<!--
        <div class="col-md-4">

            <div class="well well-sm">
            찾아오시는 길
            </div>
            <div id="map" style="width:100%; min-height:300px;">
            </div>
            <br />

            <!-- 추천 스토어-->
         <!--    <div class="well well-sm">
            추천 멘토링
            </div>
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem i totatque eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit eveniet unde.</p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-5">
                    <a href="#">
                        <img class="img-responsive" src="http://placehold.it/350x250" alt="">
                    </a>
                </div>
                <div class="col-md-7">
                    <h4>Subheading</h4>
                    <p>Lorem ipsum dolor sit amet, c</p>
                </div>
            </div>
            <br />
 -->

        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}