{% extends 'mentoring/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block headjs %}

<script src="{% static 'jquery-1.12.0.js' %}"></script>
<script src="{% static 'bootstrap-3.3.6/js/bootstrap.min.js' %}"></script>

<!-- 로그인 버튼 누르면 로그인 Modal이 뜨는 jquery -->
<script>

$(document).ready(function(){
    $("#loginBtn").click(function(){
        $("#loginModal").modal();
    });
});
</script>
<script>
$(function(){
    $('body').scrollspy({ target: '#myScrollspy', offset:100 });
});



</script>

<!-- 구글 지도 관련 스크립트 -->
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
var myCenter = new google.maps.LatLng(37.466876, 126.948097);
var MapCenter = new google.maps.LatLng(37.473915, 126.952183);
var BusStop = new google.maps.LatLng(37.480344, 126.952496);

var image = '{% static "img/busstop.png" %}';

function initialize() {
var mapProp = {
center:MapCenter,
zoom:14,
scrollwheel:true,
draggable:true,
mapTypeId:google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);


var marker = new google.maps.Marker({
position:myCenter,
icon : image,
});
var start = new google.maps.Marker({
position:BusStop,
icon : image,
});


marker.setMap(map);
start.setMap(map);

var lineSymbol = {
    path: google.maps.SymbolPath.CIRCLE,
    scale: 8,
    strokeColor: '#393'
  };

var line = new google.maps.Polyline({
    path: [{lat: 37.480344, lng: 126.952496},
    {lat: 37.477694, lng: 126.952273},
    {lat: 37.473318, lng: 126.953098},
    {lat: 37.471806, lng: 126.952826},
    {lat: 37.469101, lng: 126.951764},
    {lat: 37.468684, lng: 126.951528},
    {lat: 37.467620, lng: 126.949908},
    {lat: 37.467305, lng: 126.947827},
    {lat: 37.466876, lng: 126.948097}],
    icons: [{
      icon: lineSymbol,
      offset: '100%'
    }],
    strokeColor: '#a6a6a6',
    map: map
  });

animateCircle(line);

var contentString1 = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h4 id="firstHeading" class="firstHeading">"서울대입구역" 버스정류장</h4>'+
      '<div id="bodyContent">'+
      '<p><b>5511, 5513, 5515번 버스</b>에 탑승하여<br> "서울대학교" 버스정류장 하차</p>'+
      '</div>'+
      '</div>';
var contentString2 = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h4 id="firstHeading" class="firstHeading">"서울대학교" 버스정류장</h4>'+
      '<div id="bodyContent">'+
      '<p>"서울대학교" 버스정류장에서 하차 후<br> 서울대학교 정문으로 걸어서 이동</p>'+
      '</div>'+
      '</div>';


var infowindow1 = new google.maps.InfoWindow({
    content: contentString1
  });
var infowindow2 = new google.maps.InfoWindow({
    content: contentString2
  });

start.addListener('click', function() {
    infowindow1.open(map, start);
  });
marker.addListener('click', function() {
    infowindow2.open(map, marker);
  });

var lineSymbol_2 = {
    path: 'M 0,-1 0,1',
    strokeOpacity: 1,
    strokeColor: '#a6a6a6',
    scale: 4
  };

  // Create the polyline, passing the symbol in the 'icons' property.
  // Give the line an opacity of 0.
  // Repeat the symbol at intervals of 20 pixels to create the dashed effect.
  var line_2 = new google.maps.Polyline({
    path: [{lat: 37.480926, lng: 126.952422},
    {lat: 37.480344, lng: 126.952496}],
    strokeOpacity: 0,
    icons: [{
      icon: lineSymbol_2,
      offset: '0',
      repeat: '20px'
    }],
    map: map
  });
  var line_3 = new google.maps.Polyline({
    path: [{lat: 37.466876, lng: 126.948097},
    {lat: 37.466649, lng: 126.948342}],
    strokeOpacity: 0,
    icons: [{
      icon: lineSymbol_2,
      offset: '0',
      repeat: '20px'
    }],
    map: map
  });



}
function animateCircle(line) {
    var count = 0;
    window.setInterval(function() {
      count = (count + 1) % 400;

      var icons = line.get('icons');
      icons[0].offset = (count / 4) + '%';
      line.set('icons', icons);
  }, 20);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- 여기까지 구글 지도 스크립트 -->






{% endblock %}

{% block style %}
<style>

div {
    position: relative;
}
  #Program_info_page {
      position: relative;


  }
  ul.nav-pills {
    left : 0px;
    position: fixed;
    margin-top: 0%;


  }


#section11 {color: #737373; background-color: white; z-index: 1;}
#section12 {color: #737373; background-color: white; }
#section13 {color: #737373; background-color: white;}
#section14 {color: #737373; background-color: white;}
#section15 {color: #737373; background-color: white;}
#section2 {color: #737373; background-color: white;}
#section3 {color: #737373; background-color: white;}

.affix {

}

#Mypill >li {
  overflow: visible;
  width: ;
  z-index: 900;
}

#Mypill >li > a {
  color:  #737373;
  background-color: transparent;
  font-size: 1.2vw;
  padding: 1vw 0 1vw 0;
  z-index: 900;
  width:
  overflow: visible;
}
#Mypill >li > a > b{
  margin-right: 0.7vw;

}

#Mypill > li.active > #main_pill {
  font-size: 1.2vw;
  background-color:rgb(1,63,187);
  color: white;
  padding: 1vw 0 1vw 0;
  z-index: 900;
  width:;
  overflow: visible;
}
#Mypill > li.active > #sub_pill {
  font-size: 1.2vw;
  background-color:;
  color:white;
  padding: 0 0 0 0;
  z-index: 900;
  width:;
  overflow: visible;
}

#Mypill > li.active > a > b {
  background-color:
}
</style>
{% endblock %}



{% block content %}
<div class="container" id="Program_info_page" style="width: 100%;margin-top: 2%;">
    <div class="row">
        <div id="col-left" style="width:15%;float: left;margin-left: 1.5%; overflow: visible;">

            <nav id="myScrollspy" style="width: 100%;">
                <ul id = Mypill class="nav nav-pills nav-stacked" style="min-width:;background-color:;border-radius: 15px;z-index: 500;overflow: visible;">
                  <li><a href="#"id="main_pill">&nbsp;&nbsp;<span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;<b>프로그램</b></a></li>
                  <li><a href="#section11"id="sub_pill" style=""><button class="btn"style="float:center;text-align:center;background-color:rgb(1,63,187);border:none;padding: 1vw 1.3vw 1vw 0;">&nbsp;&nbsp;&nbsp;&nbsp;-<b>목 적</b></a></li>
                  <li><a href="#section12"id="sub_pill"class="btn btn-info"role="button"style="z-index: 900;">-&nbsp;&nbsp;<b>배 경</b></a></li>
                  <li><a href="#section13"id="sub_pill"class="btn btn-info"role="button"style="z-index: 900;">-&nbsp;&nbsp;<b>장 점</b></a></li>
                  <li><a href="#section14"id="sub_pill"class="btn btn-info"role="button"style="z-index: 900;">-&nbsp;&nbsp;<b>일정표</b></a></li>
                  <li><a href="#section15"id="sub_pill"class="btn btn-info"role="button"style="z-index: 900;">-&nbsp;&nbsp;<b>오시는 길</b></a></li>

                  <li><a href="#section2"id="main_pill">&nbsp;&nbsp;<span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;<b>멘토 소개</b></a></li>
                  <li><a href="#section3"id="main_pill">&nbsp;&nbsp;<span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;<b>멘토링 후기</b></a></li>

                </ul>
            </nav>


        </div>

        <div id="col-right" style="width:80%;float: right;margin-right: 1.5%;">
          <div class="content_div" style="position: relative;width:75%;margin: 0 0% 0 1%; display: inline-block;">


                <div id="section11" style="padding-bottom : 5%;">
                    <h1>
                    <img src="{% static "img/pro_info_11.png" %}" style="width : 100%;padding-top: 0%;" /></h1>
                </div>
                <hr>
                <div id="section12" style="padding-top: 5%;padding-bottom:5%;">
                    <h1>
                     <img src="{% static "img/pro_info_12.png" %}" style="width : 100%;"/></h1>
                </div>
                <hr>
                <div id="section13" style="padding-top: 5%;padding-bottom:5%;">
                    <h1>
                     <img src="{% static "img/pro_info_13.png" %}" style="width : 100%; padding-bottom: 5%;"/></h1>
                </div>
                <hr>
                <div id="section14" style="padding-top: 5%;padding-bottom:5%;">
                    <h1>
                     <img src="{% static "img/pro_info_14.png" %}" style="width : 100%;"/></h1>
                </div>
                <hr>
                <div id="section15" style="padding-top: 5%;padding-bottom:10%;">
                    <h1>
                     <img src="{% static "img/pro_info_15.png" %}" style="width : 100%;"/></h1>

                    <!-- Google Map div -->
                    <div id="googleMap" style="height:300px;margin : 0 15% 0 27%;width:50%;"></div>


                </div>
                <hr>
                <div id="section2" style="padding-top: 5%;padding-bottom:5%;">
                    <h1>
                     <img src="{% static "img/pro_info_2.png" %}" style="width : 100%;"/></h1>
                </div>
                <hr>
                <div id="section3" style=" padding: 5% 0 5% 0; text-align: center;" >
                    <h1>
                     <img src="{% static "img/pro_info_3.png" %}" style="width : 100%;"/></h1>
                      <br><br>

                </div>


          </div>
        </div>
    </div>
</div>
{% endblock %}